#///TODO check if we're still using these files/directories

node_modules/
.sass-cache/
.vagrant
*.css.map
*.log

telepServer.config.js
uploads/*
public/music/*
!public/music/README

*.sublime-workspace

#/// temporary, probably:
mongodata/*