#about-page.uibox
	p.
		Telephenesis began as a two-person game in which two musicians would take turns adding a single element to a musical composition.

	p.
		Chris had a dream [insert chris dream].

	p.
		The game went through many iterations. Initially, stars were islands and constellations were planets. In retrospect, constellations and stars seem like the obvious answer.
