//-form#confirmAction.uibox(action="/" method="POST")
div#confirmAction-page.uibox
	h2 Confirmation

	div
		div.confirmation-message Are you sure?
		//-button.btn.main(type="submit") Yes.
		div.double
			a.btn.red.confirmation-link Yes.
			a.btn.blue.close No.
