#starMenu.menu
	.user
		a.nav(href="/bookmark") Bookmark
		a.nav.recreate(href="/create") Recreate
		a.nav.admin(href="/moveStar") Move
		a.nav.admin(href="/recolorStar") Recolor
		a.nav.admin(href="/renameStar") Change Creator
		a.nav.admin.danger(href="/deleteStar") Delete

	.guest
		a.nav(href="/login") login
		a.nav(href="/register") register

#galaxyMenu.menu
	.user
		a.nav.create(href="/create") Create Constellation

	.guest
		a.nav(href="/login") login
		a.nav(href="/register") register
