//-///TODO various hrefs dont actually point to anything. should adjust for
//- example /moveStar to /admin/moveStar or /ajax/admin/moveStar

#starContextMenu.menu
	.user
		a.ajax.bookmarkToggle(href="/bookmark") Bookmark

		a.create.recreateStar(
			href="/recreate"
			class = (user.recreationTickets > 0 ? '' : 'disabled')
		) Recreate

		a.admin(href="/moveStar") Move
		//-a.admin(href="/recolorStar") Recolor
		//-a.admin(href="/renameStar") Change Creator
		a.admin.danger(href="/deleteStar") Delete

	.guest
		a.nav(href="/login") login
		a.nav(href="/register") register

#galaxyContextMenu.menu
	.user
		a.create.createStar(
			href="/create"
			class = (user.creationTickets > 0 ? '' : 'disabled')
		) Create Constellation

		//-///REVISIT placement:
		a.admin(href="/updateDBSchemas") Update Schemas

	.guest
		a.nav(href="/login") login
		a.nav(href="/register") register
