//-///TODO various hrefs dont actually point to anything. should adjust for
//- example /moveStar to /admin/moveStar or /ajax/admin/moveStar

#starContextMenu.menu
	.user
		a.ajax.bookmarkToggle(href="/bookmark") Bookmark

		a.create.recreateStar(
			href="/recreate"
			class = (user.recreationTickets > 0 ? '' : 'disabled')
		) Recreate

		a.admin(href="/admin/moveStar") Move
		//-a.admin(href="/admin/recolorStar") Recolor
		//-a.admin(href="/admin/renameStar") Change Creator
		a.admin.danger(href="/admin/deleteStar") Delete

	.guest
		a.nav(href="/login") login
		a.nav(href="/register") register

#galaxyContextMenu.menu
	.user
		a.create.createStar(
			href="/create"
			class = (user.creationTickets > 0 ? '' : 'disabled')
		) Create Constellation

		//-///REVISIT placement:
		a.nav.admin(href="/admin") Admin
		a.admin(href="/admin/updateDBSchemas") Update Schemas

	.guest
		a.nav(href="/login") login
		a.nav(href="/register") register
