form#create-page.uibox(method="POST" action="/create")
	h2 Start a New Constellation

	include _creationForm.pug

form#recreate-page.uibox(method="POST" action="/recreate")
	h2 Recreate

	p.
		Recreate this star. It can be a cover, a re-orchestration... 
		the goal is to transform and the challenge is to maintain a 
		perceivable thread.

	include _creationForm.pug


form#renameStar.uibox(action="/renameStar" method="POST")
	h2 Rename Star
	input.bad.init(name="creatorName" type="text" placeholder="Creator Name")
	input.activeStarIdInput(name="sid" type="hidden")
	button.btn.main(type="submit") submit
	//- a.btn.red.close close

form#deleteStar.uibox(action="/deleteStar" method="POST")
	h2 Delete Star Confirmation
	input.activeStarIdInput(name="starID" type="hidden")
	div Are you sure?
		button.btn.main(type="submit") Yes.
		a.btn.red.close No.

+star()#placementSymbol.placementSymbol

#validPlacementZone.placement

#colorShiftSelect
	.down
	.up

#colorwheelSelect
