#help-page.uibox
	p.
		Welcome to Telephenesis.
	
	p.
		This project is under construction and will be available for public use
		soon. Feel free to experiment with things; but data may be wiped before
		our real "launch".
	
	hr

	p.
		Telephenesis is a visualization of the metamorphosis of a musical
		idea as it is reinterpreted and recreated by different artists.

	p It's like the game 'Telephone', but with music.


	.control
		.mouse.left
			span
			span
			span

		div Play / Pause
		div(style="color: #bbb") Drag Galaxy

	.control
		.mouse.right
			span
			span
			span

		div Menu
		div(style="color: #aea;") Create

	.control
		span.key &larr;
		span Previous

	.control
		span.key &rarr;
		span Next

	.control.space
		span.key spacebar
		span Pause / Play

	//- p.
	//- 	The ability to contribute to Telephenesis is by invite only. Feel
	//- 	free to send us a link to your music.

	//-///TODO rename .credits:
	div.credits
		h3 contact
		div
			a(href="mailto:contact@telephenesis.com") contact@telephenesis.com

	div.credits
		h3 credits

		div Dreamed by
			| 
			a(href="https://nopiano.com" target="_blank") Chris
		div Conceptualized by Chris and Cameron
		div Programmed by
			| 
			a(href="https://steelecameron.com" target="_blank") Cameron

		//-span Source Code on Github
