doctype html

html(lang="en")
	head
		title= pageTitle
		//- :javascript
		//- 	|	if (foo) {
		//- 	|		bar()
		//- 	|	}

		meta(charset="utf-8")

		script(src="/telephenesis.js" type="text/javascript")
		link(href="https://fonts.googleapis.com/css?family=Strait|Monda" rel="stylesheet" type="text/css")
		link(href="/constellations.css" rel="stylesheet" type="text/css")

	body(class=className + " galaxy-view")
		include header.pug

		canvas#uiEffects

		include star.pug
		include spc.pug

		#limbo
			//- #ticket
			include contextMenus.pug
			include creation.pug
			include auth.pug
			include help.pug
			include profile.pug

			div#notification

			audio#aud
