div
	| After paying for server costs and transaction fees, Telephenesis takes 0.7% of the profits of the website to help sustain the labor involved in improving and maintaining it.
	| The rest of the 99.3% goes directly to artists.
	| The amount of profit Telephenesis makes is public information. You can observe monthly server costs, and the amount of money distributed to artists
