#spc
	div.lyr.a
	div.lyr.b
	div.lyr.c

	#map
		each starData, i in stars
			- var className = (user && user.bookmarks.indexOf(starData.publicID) != -1) ? ' bookmarked' : ''
			- className += starData.tier == 0 ? ' origin' : ''
			+star(starData)(
				id = 's' + starData.publicID
				data-prev = starData.originStarID
				data-originStarID = starData.originStarID
				data-tier = starData.tier
				data-title = starData.title
				data-x = starData.position.x
				data-y = starData.position.y
				data-creatorName = starData.creator ? starData.creator.creatorName : ''
				data-creatorLink = starData.creator ? starData.creator.creatorLink : ''
				data-constellationID = starData.constellationID
				data-timestamp = starData.timestamp
				class = className
				style = 'left: ' + starData.position.x + 'px; top: ' + starData.position.y + 'px'
			)
