#spc
	div.lyr.a
	div.lyr.b
	div.lyr.c

	#map
		each starData, i in stars
			+star(starData)(
				id = "s" + starData.id
				data-prev = starData.originStarID
				data-originStarID = starData.originStarID
				data-tier = starData.tier
				data-title = starData.title
				data-x = starData.x
				data-y = starData.y
				data-creatorName = starData.creator ? starData.creator.creatorName : ""
				data-creatorLink = starData.creator ? starData.creator.creatorLink : ""
				data-constellation = starData.constellationID
				data-timestamp = starData.timestamp
				class = (user.usrMeta && user.usrMeta.bookmarks.indexOf(starData.id) != -1) ? "bookmarked" : ""
				style = "left: " + starData.x + "px; top: " + starData.y + "px"
			)