.uibox#terms-page
	h1 Artists

	ul
		li Intolerance/Prejudice/Racism/Hatred
			ul
				li Hatred of and intolerance for subjective or superficial things like race, skin color will result in a ban from the platform.
		li Plagiarism
			ul
				li No.
		li Individuals banned from the platform are permitted to submit an application to be reconsidered for inclusion once every year beginning the year after the date of their ban.

	h1 Listeners
