/**
 * telephenesis
 * we@telephenesis.com
 * v0.06
 ***/
:export {
  starGridWidth: 500px;
  sortGridSquareSize: 50px;
  starGridPaddingX: 200px;
  starGridPaddingY: 200px;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #111 0%, #000 30%);
  color: #e7e7e7;
  font-size: 16px;
  font-family: "Monda", sans-serif;
}

a {
  color: #bae;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}
a:hover {
  color: #dee7f7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Strait", sans-serif;
  margin: 0;
}

.clearfix:after, .double:after {
  display: block;
  height: 0;
  content: " ";
  clear: both;
}

header#galaxy-ui {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

/* forms */
input[type=text],
input[type=password],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 1px 0;
  padding: 17px 10px;
  background-color: #e7e7e7;
  border: 0;
  font-size: 1.35em;
  font-family: "Strait", sans-serif;
  text-align: center;
}
input[type=text]:hover, input[type=text] textarea:hover,
input[type=password]:hover,
input[type=password] textarea:hover,
textarea:hover,
textarea textarea:hover {
  background-color: #ddd;
}
input[type=text]:first-child,
input[type=password]:first-child,
textarea:first-child {
  margin-top: 0;
}
input[type=text].init,
input[type=password].init,
textarea.init {
  color: #777;
}

label.floatBeside {
  position: absolute;
  left: -200px;
  display: block;
  width: 200px;
  padding: 17px 0;
  background: rgba(0, 0, 0, 0.9);
  text-align: right;
}

textarea#code {
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px 0 5px;
  background-color: rgba(150, 175, 200, 0.2);
  color: #cce;
  font-size: 0.85em;
  text-align: center;
}
textarea#code:hover {
  background-color: rgba(150, 175, 200, 0.3);
}

.upload {
  position: relative;
  overflow: hidden;
}

.btn.upload input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 100%;
  opacity: 0;
  cursor: pointer;
}

.double .btn {
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.btn, .btn:link {
  display: block;
  width: 205px;
  margin: 2px 0;
  padding: 10px;
  background: none;
  border: 0;
  font-size: 1.2em;
  font-family: "Strait", sans-serif;
  /*font-weight: 800;*/
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.25s, color 0.5s;
}
.btn.text-left, .btn:link.text-left {
  text-align: left;
}
.btn.main, .btn:link.main {
  width: 98%;
  margin: 2px auto;
  background-color: #789;
  color: #111;
  font-size: 0.9em;
  text-align: center;
  border-radius: 0 0 2px 2px;
}
.btn.main:hover, .btn:link.main:hover {
  color: #789;
  background-color: #111;
}
.btn.main:active, .btn:link.main:active {
  color: #222;
  background-color: #999;
}

/*.btn:visited { color: #113; }*/
.btn.green {
  color: #6c6;
  /*background-color: #050;*/
}
.btn.green:hover {
  color: rgba(5, 38, 5, 0.67);
  background-color: #6c6;
}
.btn.green.active {
  background: rgba(5, 38, 5, 0.67);
  color: #6c6;
}

.btn.red {
  color: #e66;
  /*background-color: #500;*/
}
.btn.red:hover {
  background-color: #d96a6a;
  color: #500;
}
.btn.red.active {
  background-color: rgba(85, 0, 0, 0.51);
  color: #e66;
}

.btn.blue {
  color: #879fee;
  /*background-color: #022065;*/
}
.btn.blue:hover {
  color: #005;
  background-color: #48d;
}
.btn.blue.active {
  background: rgba(4, 20, 68, 0.5);
  color: #879fee;
}

.btn.orange {
  color: #e96;
  /*background-color: #550505;*/
}
.btn.orange:hover {
  background-color: #e96;
  color: #550505;
}
.btn.orange.active {
  background: rgba(70, 23, 0, 0.5);
  color: #e96;
}

.btn.purple {
  color: #b9c;
  /*background-color: #550505;*/
}
.btn.purple:hover {
  background-color: #b9c;
  color: #350555;
}
.btn.purple.active {
  background: rgba(76, 20, 200, 0.19);
  color: #b9c;
}

.btn.disabled {
  background: rgba(0, 0, 0, 0.7);
}

body {
  /* menu */
}
body.playing nav {
  top: 28px;
}
body .user, body .create {
  display: none;
}
body.in .user {
  display: block;
}
body.in .guest {
  display: none;
}
body.in #navigation {
  left: -140px;
}
body.in.creator .create {
  display: block;
}
body nav.site-nav {
  display: block;
  position: absolute;
  top: 7px;
  right: 60px;
  width: 300px;
  text-align: right;
  transition: top 250ms;
}
body nav.site-nav a#logo {
  display: block;
  z-index: 4;
  font-family: "Strait";
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
}
body nav.site-nav a#logo:hover {
  color: #edf;
}
body nav.site-nav a.menuToggle {
  position: absolute;
  top: 1px;
  right: -35px;
  z-index: 3;
  width: 15px;
  height: 15px;
  padding: 5px;
  color: #bae;
  font-size: 1.25em;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  transition: background-color 0.3s;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
body nav.site-nav a.menuToggle:hover {
  background: #bae;
  color: #111;
}
body nav.site-nav a.menuToggle.active {
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
}
body nav.site-nav #menu {
  position: absolute;
  top: 33px;
  right: 0;
  z-index: 5;
  width: 0;
  /*height: 100%;*/
  /*padding: 10px;*/
  /*background: #e7e7e7;*/
  overflow: hidden;
  transition: 0.3s;
}
body nav.site-nav #menu.active {
  width: 165px;
}
body nav.site-nav #menu a {
  padding: 3px 0;
  font-size: 1.25em;
  white-space: nowrap;
}
body #navigation {
  position: relative;
  left: 0;
  width: 280px;
  font-size: 1.2em;
  text-align: center;
  transition: left 0.5s;
}
body #navigation div {
  float: left;
  width: 140px;
}
body #navigation a {
  margin-left: 10px;
}
body #navigation a:first-child {
  margin-left: 0;
}
body .menu {
  /* /// name? */
  position: absolute;
  z-index: 3;
  margin: -5px 0 0 3px;
  background: rgba(0, 0, 0, 0.8);
}
body .menu a {
  display: block;
  width: 200px;
  padding: 3px 10px;
  font-size: 1.2em;
}
body .menu a.create {
  color: #9e9;
}
body .menu a.create:hover {
  background-color: rgba(0, 150, 0, 0.3);
}
body .menu a.admin {
  color: #e7e;
}
body .menu a.admin.danger {
  color: #e77;
}
body .menu a.admin.danger:hover {
  color: #f8c7c7;
  background-color: rgba(150, 0, 0, 0.3);
}
body .menu a.admin:hover {
  color: #f8c7f7;
  background-color: rgba(150, 0, 150, 0.3);
}
body #menu .user a, body #menu .guest a {
  display: block;
}

.uibox {
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: 2;
  display: block;
  width: 425px;
  margin-left: -190px;
  padding: 25px;
  color: #eee;
  font-size: 1em;
  background: rgba(0, 0, 0, 0.9);
}
.uibox.wide {
  width: 600;
}
.uibox h2 {
  margin: 0 0 15px;
  font-size: 1.8em;
}
.uibox h3 {
  margin-bottom: 5px;
}
.uibox ol {
  margin: 0 0 20px;
  font-size: 1.1em;
}
.uibox p {
  margin: 15px 0;
  font-size: 0.95em;
  text-align: justify;
}
.uibox hr {
  width: 150px;
  height: 1px;
  margin: 20px auto;
  background: #eee;
  border: 0;
}
.uibox section {
  margin: 20px 0;
}

/*form.uibox { width: 330px; margin-left: -165px; }*/
#invite.uibox {
  top: 25%;
  width: 450px;
  font-size: 2.6em;
  color: #ddd;
  font-family: "Strait", sans-serif;
}
#invite .btn {
  width: 250px;
  font-size: 0.85em;
}

.uibox small {
  font-size: 0.6em;
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  translate: -50% -50%;
  width: 20px;
  height: 20px;
  padding: 1px 0 0;
  transition: background 350ms;
  /*.inverse & { color: #222; }*/
}
.star.moving {
  z-index: -1;
}
.star > a {
  display: block;
  left: -8px;
  top: -8px;
  width: 14px;
  height: 14px;
  border-width: 1px;
  border-radius: 8px;
  color: #bbe;
  background-color: #ff6;
  border-style: solid;
  border-color: #000;
  transition: left 0.3s, top 0.3s, width 0.3s, height 0.3s, background-color 0.5s, border-width 0.3s, border-color 0.5s;
}
.star > a:hover {
  background-color: #e7e7f7 !important;
}
.star:hover {
  z-index: 4;
}
.star.bookmarked > a {
  left: -11px;
  top: -11px;
  width: 14px;
  height: 14px;
  border-width: 4px;
  border-radius: 11px;
  border-color: #a73292;
}
.star.active {
  z-index: 3;
}
.star.active > a {
  left: -21px;
  top: -21px;
  width: 14px;
  height: 14px;
  border-width: 14px;
  border-radius: 21px;
  animation-duration: 450ms, 20s;
  animation-name: starClick, activeStarBorder;
  animation-iteration-count: 1, infinite;
  animation-delay: 0s, 450ms;
}
.star.active:hover {
  z-index: 1;
}
@keyframes starClick {
  0% {
    left: -8px;
    top: -8px;
    width: 14px;
    height: 14px;
    border-width: 1px;
    border-radius: 8px;
    border-color: #000;
  }
  45% {
    left: -25px;
    top: -25px;
    width: 14px;
    height: 14px;
    border-width: 18px;
    border-radius: 25px;
  }
  100% {
    left: -21px;
    top: -21px;
    width: 14px;
    height: 14px;
    border-width: 14px;
    border-radius: 21px;
    border-color: #c77929;
  }
}
@keyframes activeStarBorder {
  0% {
    border-color: #c77929;
    border-width: 14px;
  }
  20% {
    border-color: #77a;
  }
  40% {
    border-color: #965b88;
  }
  49% {
    left: -21px;
    top: -21px;
    width: 14px;
    height: 14px;
    border-width: 14px;
    border-radius: 21px;
  }
  50% {
    left: -18px;
    top: -18px;
    width: 14px;
    height: 14px;
    border-width: 11px;
    border-radius: 18px;
  }
  51% {
    left: -21px;
    top: -21px;
    width: 14px;
    height: 14px;
    border-width: 14px;
    border-radius: 21px;
  }
  60% {
    border-color: #6b8a83;
  }
  80% {
    border-color: #658a58;
  }
  100% {
    border-color: #c77929;
  }
}
.star .meta {
  display: none;
  position: absolute;
  left: 32px;
  top: -6px;
  margin: 0 4px;
  transition: left 450ms, top 450ms;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 250ms;
  /*.inverse & .text { background-color: #fcfcfc; }*/
}
.star .meta .text {
  padding: 2px 5px 2px 3px;
  color: #eee;
  font-size: 1.25em;
  white-space: nowrap;
  font-size: 1.15em;
  line-height: 120%;
}
.star .meta .text.playbackTime {
  display: none;
}
.star .meta .creationTime {
  display: none;
}
.star.active .meta, .star:hover .meta {
  display: inline-block;
}
.star.active {
  width: 45px;
  height: 45px;
}
.star.active .meta {
  left: 46px;
  top: -22px;
}
.star.active .meta:hover {
  z-index: -1;
}
.star.active .meta:hover .text {
  color: #4e5767;
}
.star.active .meta .creationTime, .star.active .meta .playbackTime {
  display: block;
}
body.sorting .star {
  width: 50px;
  height: 50px;
  background: rgba(40, 40, 40, 0.55);
}
body.sorting .star.even {
  background: rgba(60, 60, 60, 0.55);
}
body.sorting .star:hover {
  background: rgba(232, 177, 150, 0.37);
}
body.sorting .star .meta {
  left: 100%;
}
body.sorting .star .meta .creationTime {
  display: block;
}
body.sorting.list .star .meta {
  display: inline-block;
  cursor: auto;
  pointer-events: all;
}

body header#playingStarInfo {
  opacity: 0;
  height: 0;
  transition: height 500ms, opacity 500ms;
  overflow: hidden;
}
body header#playingStarInfo h2, body header#playingStarInfo h3 {
  margin: 5px 0 5px 20px;
}
body header#playingStarInfo a {
  font-size: 0.8rem;
}
body header#playingStarInfo #playbackProgress {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  background: rgba(121, 61, 155, 0.33);
  display: block;
}
body header#playingStarInfo #playbackProgress #playbackProgressBar {
  width: 1%;
  height: 100%;
  background: rgba(227, 63, 84, 0.7);
}
body header#playingStarInfo::after {
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  z-index: 0;
  width: 100%;
  height: 7px;
  background: rgba(76, 20, 200, 0.19);
  content: "";
}
body.playing header#playingStarInfo {
  opacity: 1;
  height: auto;
}

#spc {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: url("/images/release.png"), auto;
  transition: background-color 0.4s;
}
#spc.act {
  cursor: url("/images/grab.png"), auto;
}

#map {
  position: relative;
  width: 0;
  height: 0;
  overflow: visible;
}

.lyr {
  position: absolute;
  width: 100%;
  height: 100%;
}
.lyr.a {
  background: url("/images/spc1.png") repeat;
}
.lyr.b {
  background: url("/images/spc2.png") repeat;
}
.lyr.c {
  background: url("/images/spc3.png") repeat;
}

/* help */
/*/// naming could use attention*/
#help .control {
  float: left;
  width: 50%;
  padding: 10px 0;
}
#help .control .key, #help .control .mouse {
  display: block;
  float: left;
  margin-right: 10px;
}
#help .control .key {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 5px;
  background: #eee;
  border: 1px solid #eee;
  border-radius: 2px;
  color: #111;
}
#help .control.space {
  float: none;
  clear: both;
  width: 100%;
}
#help .control.space .key {
  width: 128px;
}
#help .control .mouse span {
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  background: #eee;
  /*border: 1px solid #111;*/
  box-sizing: border-box;
}
#help .control .mouse span:nth-child(1) {
  margin: 0 1px 1px 0;
  border-radius: 4px 0 0 0;
}
#help .control .mouse span:nth-child(2) {
  margin: 0 0 1px 1px;
  border-radius: 0 4px 0 0;
}
#help .control .mouse span:nth-child(3) {
  float: none;
  clear: both;
  width: 32px;
  height: 26px;
  border-radius: 0 0 4px 4px;
}
#help .control .mouse.left span:nth-child(1),
#help .control .mouse.right span:nth-child(2) {
  background: #bae;
}
#help .credits {
  margin-top: 10px;
  text-align: right;
}
#help .credits h3 {
  margin-bottom: 4px;
  font-size: 1em;
  color: #ecb;
  text-transform: uppercase;
}
.tutorial {
  position: absolute;
  /*left: 30%;*/
  /*top: 30%;*/
  z-index: 3;
  width: 450px;
  margin: 0 auto;
  padding: 10px;
  background: rgba(0, 0, 0, 0.75);
  color: #ddd;
  font-family: "Strait", sans-serif;
  transition: color 0.3s, background-color 0.5s;
}

.tutorial.small {
  width: 250px;
  font-size: 2em;
}

.tutorial.large {
  width: 500px;
  font-size: 2.6em;
}

.tutorial small {
  font-size: 0.6em;
}

.tutorial .meta {
  margin-top: 15px;
}

.tutorial .btn {
  width: 205px;
  margin: 0;
  padding: 10px;
  background: none;
  font-size: 0.6em;
  text-align: left;
}

.tutorial .next {
  float: right;
  text-align: left;
}

.tutorial .prev {
  float: left;
  text-align: right;
}

.tutorial .close {
  margin: 0 auto;
  clear: both;
  text-align: center;
}

.inverse .tutorial {
  background: rgba(255, 255, 255, 0.75);
  color: #333;
}

.inverse .tutorial.invite {
  background: none;
}

/* more of this?: */
.tutorial.invite .btn {
  width: 250px;
  font-size: 0.85em;
}

.inverse .tutorial .btn {
  color: #23239b;
  transition: color 0.15s;
}

.inverse .tutorial .btn:hover {
  color: #9191ff;
  background: #0a0a4b;
}

.inverse .tutorial .btn.g {
  color: #237823;
}

.inverse .tutorial .btn.g:hover {
  color: #91d291;
  background: #0a4b0a;
}

.inverse .tutorial .btn.r {
  color: #af1919;
}

.inverse .tutorial .btn.r:hover {
  color: #d29191;
  background: #4b0a0a;
}

form#create #timeSettings {
  margin-bottom: 20px;
  padding: 7px;
  background: #000;
  transition: height 0.2s, background 0.5s;
  overflow: hidden;
}
form#create #timeSettings label {
  display: block;
  height: 30px;
  padding: 7px 0;
}
form#create #timeSettings.public {
  background: rgba(5, 38, 5, 0.67);
}
form#create #timeSettings.private {
  background: rgba(4, 20, 68, 0.5);
}
form#create input {
  margin: 10px 0;
  text-align: left;
}
form#create section.fileUpload {
  margin: 10px 0 12px;
}
form#create label.rightsAgreement {
  display: block;
  cursor: pointer;
  padding: 20px;
  background: rgba(76, 20, 200, 0.19);
}
form#create label.rightsAgreement input.rights-confirmation {
  margin-right: 10px;
}

.menu a:hover {
  background-color: #334;
}

/* create /// naming / specificity */
.placementSymbol.star {
  z-index: 2;
}
.placementSymbol.star a {
  left: -7px;
  top: -7px;
  border-color: transparent;
  border-radius: 12px;
  cursor: none;
}

.placement {
  position: absolute;
  z-index: 3;
  width: 150px;
  height: 150px;
  background: rgba(0, 100, 0, 0.5);
  border-radius: 75px;
  cursor: none;
}

.star .progress {
  position: absolute;
  left: 40px;
  top: -15px;
  font-size: 1.9em;
  background: rgba(0, 0, 0, 0.5);
}

.inverse .star .progress {
  background: none;
}

#colorShiftSelect {
  position: absolute;
  left: -64px;
  top: -64px;
  z-index: -1;
  /* /// */
  width: 128px;
  height: 128px;
  /*border: 1px solid #222;*/
  border-radius: 5px;
  overflow: hidden;
}
#colorShiftSelect div {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  opacity: 0.5;
  cursor: pointer;
}
#colorShiftSelect div:hover {
  opacity: 1;
}

.star #colorwheelSelect {
  position: absolute;
  left: -31px;
  top: -31px;
  width: 64px;
  height: 64px;
  background: url("/images/6colordesat.png") center center;
  border-radius: 32px;
  z-index: -1;
  cursor: crosshair;
}

#colorwheelSelect {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
}
#colorwheelSelect div {
  position: absolute;
  border-left: 650px solid transparent;
  border-right: 650px solid transparent;
}

#sortingUI nav {
  position: inline-block;
  padding: 2px 10px;
}
#sortingUI nav span.current-view {
  color: #b9c;
}
#sortingUI nav ul {
  margin-top: 0;
  display: none;
}
#sortingUI nav:hover ul {
  display: block;
}
#sortingUI header {
  position: absolute;
  width: 500px;
  left: 175px;
  top: 135px;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
}
#sortingUI header h2 {
  display: none;
}
body.sorting #sortingUI header {
  opacity: 1;
}
body.sorting #sortingUI header h2 {
  display: block;
}

body.sorting.bookmarks .star {
  display: none;
}
body.sorting.bookmarks .star.bookmarked {
  display: flex;
}
body.sorting.bookmarks #uiEffects {
  display: none;
}

#ui {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 1;
  width: 140px;
  overflow: hidden;
}

/*.loading { margin: 5% auto 0; text-align: center; }
.loading .progress { height: 1px; background: #000; }*/
/* /// */
/* temp \\ archive */
#ticket {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 350px;
  padding: 185px 223px 124px 207px;
  background: url("/images/ticket.png") no-repeat center center;
  color: #7E0000;
  font-size: 1.5em;
  text-align: center;
}

canvas#uiEffects {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

#limbo {
  display: none;
}

/*# sourceMappingURL=constellations.css.map */
