#sortingUI {
	position: absolute;
	// position: fixed;
	// left: 0;
	// top: 0;
	// z-index: 1;

	nav {
		display: inline-block;
		// width: 100px;
		padding: 6px 10px;
		// background: $uiBackground;
		// background: linear-gradient(to bottom, $uiBackground, rgba(0, 0, 0, 0));
		transition: padding 0.5s;

		span.current-order,
		span.current-view {
			color: $purple;
		}

		ul {
			width: 150px;
			z-index: 2;
			background: $uiBackground;
			position: absolute;
			display: none;
			// margin-top: -5px;
			padding: 10px 25px;
			margin-top: -3px;
			list-style-type: none;

			// &:hover {
			// 	// Because nav does not extend to the size of ul,
			// 	// it must keep itself open:
			// 	display: block;
			// }
		}

		&:hover {
			ul {
				display: block;
			}
		}
	}

	header {
		position: absolute;
		width: 500px; ////REVISIT bad solution
		left: $starGridPaddingX - 25;
		top: $starGridPaddingY - 65;
		z-index: 1;
		opacity: 0;
		transition: opacity 1s;

		h2 {
			display: none;
		}
	}

	body.sorting & {
		header {
			opacity: 1;

			h2 {
				display: block;
			}
		}
	}
}


body {
	&.galaxy-view,
	&.constellations-view ////TODO temporary until views are part of nav menu
	{
		#sortingUI {
			nav.view-nav {
				display: none;
			}
		}
	}

	&.playing {
		#sortingUI {
			position: static;
			height: 40px; ///REVISIT not a great solution
		}
	}

	&.sorting {
		.star {
			// opacity: 0;
			// transition: opacity 500ms;
			// position: absolute;
			// left: -$starGridSquareSize * 0.5;
			// top: -$starGridSquareSize * 0.5;
			width: $starGridSquareSize;
			height: $starGridSquareSize;
			background: rgba(40, 40, 40, 0.55);

			&.even {
				background: rgba(60, 60, 60, 0.55);
			}

			&:hover {
				background: rgba(232, 177, 150, 0.37);
			}

			.meta {
				left: 100%;

				.creationTime {
					display: block;
				}
			}
		}

		&.list-view,
		&.grid-view,
		&.constellations-view{
			#spc {
				overflow: visible;
			}
		}

		&.list-view {
			.star {
				.meta {
					display: inline-block;
					cursor: auto;
					pointer-events: all;
				}
			}
		}

		&.bookmarks-order {
			.star {
				display: none;

				&.bookmarked {
					display: flex;
				}
			}

			#uiEffects {
				///REVISIT setting to display: none is probably more of a quick-fix:
				display: none;
			}
		}
	}

}

