#sortingUI {
	position: absolute;
	left: $gridPaddingX - 25;
	top: $gridPaddingY - 65;
	z-index: 1;
	opacity: 0;
	transition: opacity 1s;

	h2 {
		display: none;
	}

	body.sorting & {
		opacity: 1;

		h2 {
			display: block;
		}
	}
}