#sortingUI {
	// position: fixed;
	// left: 0;
	// top: 0;
	// z-index: 1;

	nav {
		position: inline-block;
		// width: 100px;
		padding: 2px 10px;

		span.current-view {
			color: $purple;
		}

		ul {
			// padding: 0;
			margin-top: 0;
			display: none;
		}

		&:hover {
			ul {
				display: block;
			}
		}
	}

	header {
		position: absolute;
		width: 500px; ////REVISIT bad solution
		left: $gridPaddingX - 25;
		top: $gridPaddingY - 65;
		z-index: 1;
		opacity: 0;
		transition: opacity 1s;

		h2 {
			display: none;
		}
	}

	body.sorting & {
		header {
			opacity: 1;

			h2 {
				display: block;
			}
		}
	}
}

body.sorting.bookmarks {
	.star {
		display: none;

		&.bookmarked {
			display: flex;
		}
	}

	#uiEffects {
		///REVISIT setting to display: none is probably more of a quick-fix:
		display: none;
	}
}
