form#account-page {
	.ticketCount {
		//display: block;
		padding: 25px 0; ///REVISIT placement; maybe make some generic "block" class

		&.creationTickets, &.recreationTickets {
			float: left;
			width: 50%;
			background: $creationBackground;
			text-align: center;

			.count {
				font-size: 2em;
			}
		}
	}

}

ul.subscriptions { //@REVISIT perhaps move
	display: flex;
	flex-direction: row;
	padding: 0;
	list-style: none;

	> li {
		width: 30%;
		padding: 0;
		margin: 0;
		flex-grow: 1;
		background: $darkGreen;
		color: $lightGreen;

		ul {
			padding-left: 1em;

			li {

			}
		}
	}
}
