a.admin.nav {
	color: $admin;
	display: none;

	&.danger {
		color: #e77;
		&:hover {
			color: #f8c7c7;
			background-color: rgba(150, 0, 0, 0.3);
		}
	}

	&:hover {
		color: #f8c7f7;
		background-color: rgba(150, 0, 150, 0.3);
	}

	body.adminor & {
		//@TODO see note in _creation.scss
		display: block;
	}
}

ul.user-admin-list { //@REVISIT naming
	li {
		padding: 5px;

		.more-info {
			display: none;
		}

		&:hover {
			background: $adminBackground;

			.more-info {
				display: block;
			}
		}
	}
}

