html, body {
	margin: 0;
	height: 100%;
}

body {
	background-color: #000;
	//background-image: linear-gradient(to bottom, #0a0a0a 0%, #000 30%);
	//background-repeat: no-repeat;
	color: $text;
	font-size: 16px; ///
	font-family: 'Monda', sans-serif;
}

a {
	// display: block;
	color: $link;
	text-decoration: none;
	cursor: pointer;
	transition: color 0.3s;

	&:hover {
		color: $linkHover;
	}

	&.disabled {
		background: $disabledBackground;
		color: $disabledText;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Strait', sans-serif;
	margin: 0;
}

.center-text {
	text-align: center;
}

.clearfix { /// placement
	&:after { /// placement
		display: block;
		height: 0;
		content: " ";
		clear: both;
	}
}
