ul.comments {
	padding-left: 15px;

	li.comment-list-item {
		.comment {
			.comment-meta {
				max-width: 465px;
				font-size: 0.8em;

				.comment-date {
					//font-size: 0.8em;
					font-style: italic;
				}

				//.comment-user {}

				.comment-controls {
					visibility: hidden;

					a {
						display: inline-block;
						margin: 0px 6px;
					}

					.comment-reply-form {
						display: none;
					}

					&.replying {
						visibility: visible;

						.comment-reply-form {
							display: block;
						}
					}
				}
			}

			&:hover {
				> .comment-meta {
					.comment-controls {
						visibility: visible;
					}
				}
			}
		}

		//&:nth-child(even) {
		//    background: $uiBackgroundLight;
		//}

		//ul.replies {
		//}
	}
}

textarea.comment-text {
	//height: 57px;
	min-width: 450px; //@REVISIT
	background: $uiBackgroundLightSolid;
	text-align: left;
	resize: both; //@TODO-3 ensure IE support
}
