@mixin showOnPlay {
	opacity: 0;
	height: 0; ///REVISIT does this always work?
	transition: height 500ms, opacity 500ms;
	overflow: hidden;

	body.playing & {
		opacity: 1;
		height: auto; ///TODO auto doesn't work for transitions
	}
}

header#playingStarHeader { ///placement
	@include showOnPlay;

	// display: none;
	a {
		font-size: 0.8rem;
	}

	#playbackProgress { ///placement
		// position: fixed;
		// left: 0;
		// bottom: 0;

		width: 100%;
		height: 20px;
		margin-bottom: 10px;
		// background: rgba(123, 74, 147, 0.4);
		background: rgba(121, 61, 155, 0.33);

		#playbackProgressBar {
			// position: absolute;
			// left: 0;
			// top: 0;
			transition: width 150ms; //@REVISIT probably not best solution
			width: 0%;
			height: 100%;
			background: rgba(227, 63, 84, 0.7);
		}

		// Player shadow:
		&::after {
			display: block;
			// position: absolute;
			// top: 20px;
			// left: 5px;
			// z-index: 0;
			width: 100%;
			height: 7px;
			background: $darkPurple;
			content: "";
		}
	}
}

#playingStarInfo {
	@include showOnPlay;

	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 1;
	box-sizing: border-box;
	max-width: 640px;
	max-height: 100%;
	//@TODO this is meant to offset by the height of galaxy-ui but I don't like this solution
	padding: 80px 20px 0;
	//max-width: 50%;
	background: $uiBackground;
	overflow: hidden;

	.show-comments & {
		width: 45%;
	}

	h2, h3 {
		margin: 5px 0;
	}

	a#togglePlayingComments {
		&::after {
			content: " \25B2";
		}

		.show-comments &::after {
			content: " \25BC";
		}
	}

	#playingComments {
		display: none;
		overflow-y: auto;
		padding-right: 20px;

		.show-comments & {
			display: block;
		}

		//max-width: 465px;

	}
}

//&.show-comments {
//    #togglePlayingComments {
//        body.show-comments &::after {
//            content: " \25BC";
//        }
//    }

//    #playingComments {
//        display: block;
//    }
//}

//&.playing {
//body.playing {
//    header#playingStarHeader {
//        // display: block;
//        opacity: 1;
//        height: auto; ///TODO auto doesn't work for transitions
//    }
//}
