// COLORS
$create: #9e9;
$admin: #e7e;
$header: #ecb;
$text: #e7e7e7;

$black: #000;

$lightGreen: #6c6;
$darkGreen: rgba(5, 38, 5, 0.67);

$lightBlueText: #879fee;
$lightBlue: #48d;
$darkBlueText: #005;
$darkBlue: rgba(4, 20, 68, 0.5);

$lightRed: #e66;
$lightRedFaded: #d96a6a;
$redText: #500;
$darkRed: rgba(85, 0, 0, 0.51);

$purple: #b9c;
$darkPurple: rgba(76, 20, 200, 0.19);
$purpleText: #350555; ///REVISIT

$orange: #e96;
$orangeText: #550505;
$darkOrange: rgba(70, 23, 0, 0.5);

$link: #bae;
$linkHover: #dee7f7;

$dimmedText: #4e5767;

$uiBackground: rgba(0, 0, 0, 0.9);
$uiBackgroundLight: rgba(250, 250, 250, 0.2);

// SIZES
$playerHeight: 28px;

$inputPaddingY: 17px;
$inputPaddingX: 10px;
